@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
:root{
    --background01: #33b34fa4;
    --background02: #a6faada9;
    --footer01: #17c74c;
    --footer02: #165328ce;
    --section01: #17a356;
    --section02: #1a633bad;
    --header01: #ffffff;
    --header02: #ffffffd2;
    --select: #ebebbc;
    --h1: #154910e8;
    --font_main: font-family: 'Rosarivo', 'Times New Roman', serif;
}

body{
    height: 300vh;
    background: white url("data/background/field.jpg") center center no-repeat fixed;
    /*shorthand background --> color > image > position > repeat > [size] > attachment*/
    background-size: cover;
}

.img_logo_header{
    width: 60px;
    padding: 3px;
}

.header, .nav_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    width: 100%;
}

.header{
    background-image: linear-gradient(var(--header01), var(--header02));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    height: 5em;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 15px;
}

.nav_header{
    gap: 2em;
    font-family: var(--font_main);
    font-size: 1em;
}

.nav_header a{
    font-family: var(--font_main);
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.6s;
}

.nav_header a:hover{
    text-decoration: underline;
}

.content{
    text-align: center;
    padding-top: 3%;
    height: 100vh;
    transition: 0.6s;
}

.btn_icon_header{
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    display: none;
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    padding: 50px;  

    min-width: 200px;
    max-width: 900px;

    margin: auto;
    margin-bottom: 15px;
}

main p{
    font-family: var(--font_main);
    text-align: justify;
    text-indent: 10px;   
    font-size: 1.1em;
    line-height: 1.6em;
}

section.imgparallax{
    display: inline-block;
    width: 100%;
    margin: 0;
    height: 450px;
    padding: 60px 0;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.74);
    background-size: cover;
    background-attachment: fixed;
}

section#img1{
    background-image: url("data/biogas/biogas1.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    
}

footer{
    margin: auto;
    background-image:linear-gradient(180deg, var(--footer01), var(--footer02));
    box-shadow: 3px, 3px, 3px, rgba(0, 0, 0, 0.377);
    height: 200px;
}

footer a{
    text-decoration: none;
    color: black;
}

aside ul{
    text-align: center;
    list-style-position: inside;
    /*columns: 2;*/
    list-style-type: none;
    font-weight: bold;
    padding: 10px;
    line-height: 1.6em;
}

aside ul a{
    font-weight: normal;
    color: #000;
    text-decoration: none;
}

footer section{
    text-align: center;
    background-image: linear-gradient(180deg, var(--section01), var(--section02));
    padding-bottom: 10px;
}

footer section a{
    text-decoration: none;
    color: #000;
}

div.video{
    background-image: linear-gradient(180deg, var(--section01), var(--section02));
    margin-bottom: 30px;
    margin: 0px, -20px, 30px, -20px;
    padding: 20px;
    padding-bottom: 54%;
    position: relative;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#copy{
    padding-top: 15px;
    text-align: center;
}

h1{
    font-family: var(--font_main);
    color: var(--h1);
    text-align: center;
}

h1#menu{
    text-align: start;
}

.linkwithoutcolorunder{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}


